@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: Inter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 400px;
  gap: 18px;
  overflow-y: scroll;
  padding: 18px;

  .item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

    .p-img-wrapper {
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.05);
      width: 100%;
      height: 180px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 6px;

      img {
        width: 100%;
        object-fit: cover;
      }

      img.active {
        border: 2px solid blue;
      }
    }

    .p-name {
      font-size: 18px;
    }

    .p-qty {
      font-size: 14px;
    }

    .p-price {
      font-size: 20px;
    }
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
